<footer class="flex justify-between align-center">
	<div class="ctn-copyright">
		<p class="mb-10">Copyright &copy;</p>
		<p>Made with love by <a href="">Clément</a></p>
	</div>
	<ul class="ctn-social flex ">
		<li><a href=""><i class="fa-brands fa-strava"></i></a></li>
		<li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
		<li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
		<li><a href=""><i class="fa-brands fa-github"></i></a></li>
	</ul>
</footer>