<header class="flex align-center justify-between">
	<a class="flex align-center" href="{{path('home_index')}}">
		<i class="fa-solid fa-medal mr-10 header-logo"></i>
		<span class="header-title">SpaceRun</span>
	</a>
	<ul class="header-nav flex">
		<li class="mr-10"><a href="{{ path('user_index')}} "><i class="fa-solid fa-user mr-5"></i>User</a></li>
		<li class="mr-10"><a href="{{ path('race_index')}}"><i class="fa-regular fa-calendar mr-5"></i>Calendrier</a></li>
		<li class="mr-10"><a href=""><i class="fa-solid fa-user mr-5"></i>Outil</a></li>
	</ul>
	<div class="header-action">
		<a href="" class="btn"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a>
		<a href="" class="btn"><i class="fa-solid fa-user-plus"></i>Inscription</a>
		<a href="" class="btn"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
	</div>
</header>