/* RESET */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}
body{
	font-size: 1.6rem;
	font-family: var(--font-text);
	min-height: 100vh;
	background: var(--bg-light);
}
ul{
	list-style: none;
}
a{
	color: var(--text);
	text-decoration: none;
}

/* VARIABLE */
:root{
	--font-text: "Roboto", sans-serif;
	--text: #333;
	--text-light: white;
	--bg-primary: #3867d6;
	--shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	--radius: 0.5rem;
	--bg-light: #f5f6fa;
}
/* BASE */
.btn{
	background: white;
	padding: 1rem;
	color: var(--bg-primary);
	border-radius: var(--radius);
}
/* OUTILS */
.flex{
	display: flex;
}
.fill{
	flex: 1;
}
.justify-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.align-center{
	align-items: center;
}
.column{
	flex-flow: column;
}
.row{
	flex-flow: row nowrap;
}
.row-wrap{
	flex-flow: row wrap;
}
.mr-5{
	margin-right: 0.5rem;
}
.mr-10{
	margin-right: 1rem;
}
.mb-10{
	margin-bottom: 1rem;
}
.mb-20{
	margin-bottom: 20px;
}





/* HEADER */
header{
	background: var(--bg-primary);
	padding: 2rem 3rem;
	box-shadow: var(--shadow);
}
.header-logo{
	font-size: 3.5rem;
}
.header-title{
	font-weight: 700;
	font-size: 2rem;
}
header a{
	color: var(--text-light);
	transition: opacity 0.3s;
}
header a:hover{
	opacity: 0.8;
}
.header-nav a{
	margin-right: 1rem;
}
.header-action a{
	margin-right: 1rem;
}
.header-action i{
	margin-right: 0.5rem;
}

/* FOOTER */
footer{
	background: var(--bg-primary);
	padding: 1rem;
	color: var(--text-light);
}
footer a{
	color: var(--text-light);
}
.ctn-social li{
	margin-right: 1rem;
}





/* CONTENT */

.content{
	max-width: 1200px;
	border: 1px solid red;
	flex: 1;
}

/* USER */
.ctn-user{
	background: white;
	max-width: 400px;
	box-shadow: var(--shadow);
}
.header-user{
	display: flex;
}
